POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=assitant
POSTGRES_PASSWORD=example
POSTGRES_USER=postgres

GIGACHAT_AUTHORIZATION_KEY=token

S3_HOST=localhost
S3_PORT=7000
S3_USER=minioadmin
S3_PASSWORD=minioadmin
S3_BUCKET=assistant
